/* Global styles: split into partials to keep each file under 1000 lines. */
@import "./css/globals-part1.css";
@import "./css/globals-part2.css";
@import "./css/globals-part3.css";
@import "./css/globals-part4.css";
@import "./css/globals-part5.css";
@import "./css/globals-part6.css";
@import "./css/globals-part7.css";
@import "./css/globals-part8.css";
@import "./css/globals-part9.css";
